name: java_zulu

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: '22 22 * * *'
  push:
    branches:
      - main
    paths:
      - java-zulu/**
permissions:
  actions: read
  packages: write

concurrency:
  group: java-zulu-${{ github.ref }}-1
  cancel-in-progress: true
jobs:
  push:
    name: "pterodactyl-images:java_${{ matrix.tag }}_zulu"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 7

    steps:
      - name: Git checkout for Github repository workspace
        uses: actions/checkout@v3

      - name: Setup QEMU for multiarch builds
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: "v0.10.4"
          buildkitd-flags: --debug

      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: ./java-zulu
          file: ./java-zulu/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64, linux/arm64
          push: true
          tags: |
            ghcr.io/software-noob/pterodactyl-images:java_${{ matrix.tag }}_zulu 
